.button {

    & button {
        border-radius: 15px;
        padding: 5px 20px;
        background-color: white;
    }

    &__btn {
        border: none;
        color: #194277;
        font-size: 12px;
        font-weight: 800;
        line-height: 16px;
        font-family: 'Lato', swap;

        &--main-content {
            text-transform: uppercase;
            padding: 10px 30px;
        }
    }
}