mixin designer
    .designer
        .container.d-flex
            h2.designer__title Need a graphic designer? 
                strong Ready to work!  
            button.designer__bth HIRE ME

        
