mixin picture
    .picture
        .container
            .row
                .col-4
                    img.image(src="./img/Work 1.png", alt="")
                .col-4
                    img.image(src="./img/Work 2.png", alt="")
                .col-4
                    img.image(src="./img/Work 3.png", alt="")
                .col-4
                    img.image(src="./img/Work 4.png", alt="")
                .col-4
                    img.image(src="./img/Work 5.png", alt="")
                .col-4
                    img.image(src="./img/Work 6.png", alt="")