include ../blocks/latest/_latest.pug
include ../blocks/picture/_picture.pug
include ../blocks/clients/_clients.pug
include ../blocks/designer/_designer.pug
include ../blocks/headline/_headline.pug
include ../blocks/card/_card.pug
include ../blocks/cookies/_cookies.pug
include ../blocks/button/_button.pug
include ../blocks/logo/_logo.pug
include ../blocks/main-content/_main-content.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="../node_modules/remodal/dist/remodal.css")
        link(rel="stylesheet", href="../node_modules/remodal/dist/remodal-default-theme.css")
        link(rel="stylesheet", href="./css/style.css")
    body
        +cookies
        .page.page--main
            .container
                .row
                    .col-12.d-flex.flex-column.align-items-center
                        +main-content
                        img(src="img/arrow__bottom.png", alt="")
        .page.page--about
            .container
                .row
                    .col-12
                        +headline("About Me","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ")
        

        .page.page--expert
            +card
        +latest
        +clients
        +designer
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="../node_modules/remodal/dist/remodal.js")