.cookies {
    color: white;
    padding: 10px 0;
    background-color: #194277;

    &__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
        margin-right: 50px;
    }
}