include ../headline/_headline.pug
include ../logo/_logo.pug
include ../button/_button.pug

mixin main-content
    +logo
    +headline("free portfolio psd template for graphic designers","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.").headline--main-content
    +button("hire me").button--main-content