mixin clients
    .clients
        h1.clients__tittle Clients
        .container 
            .row
                .col-12.col-md-3
                    img.img(src="./img/logo2.png", alt="")
                .col-12.col-md-3
                    img.img(src="./img/logo3.png", alt="")
                .col-12.col-md-3
                    img.img(src="./img/logo1.png", alt="")
                .col-12.col-md-3
                    img.img(src="./img/logo0.png", alt="")